.noticess{
    display: flex;
}
.notices-title{ 
    background-color: lightblue;
    padding: 12px;
    margin-top: 14px;   
}
@media only screen and (max-width: 767px) {
    .notices-title{
        padding: 6px;
        height: 37px;
    }
}