.fullInfo {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }
 .school-history-title{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
     padding: 10px;
 }
 .School-history{
     display:flex;
     margin-bottom: 30px;
 }
 .teacher-quotes{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     margin-bottom: 30px;
 }
 .teacher-quotes-1{
     display: grid;
     grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
 }
 .teacher-quotes-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
    
}
 .first-hadinf{
     margin-right: 30px;
 }
 .first-hadinf-1{
     margin-right: 30px;
     border: 1px solid black;
 }
 .first-hadinf-2{
     margin-right: 30px;
     border: 1px solid black;
 }
 .heading{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
     padding: 8px;
     color: #fff;
     
 }
 .heading-1{
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    padding: 8px;
    color: #ffffff;

 }
 .heading-2{
    background: linear-gradient(to right, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8px;
    color: #ffffff;

 }
 .heading-3{
    background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8px;
    color: #ffffff;

 }
 .heading-4 {
    background: linear-gradient(to right, #283c86, #45a247); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8px;
    color: #ffffff;

 }

 .head-techar-bani{
     display: flex ;
 }
 .img{
     width: 30%;
     height: 30%;
     margin-right: 20px;

 }
 .img-1{
    width: 30%;
    height: 30%;
    margin-right: 20px;
    margin-left: 10px;

}
@media only screen and (max-width: 767px) {
    .fullInfo {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
     }
     .school-history-title{
         width: 353px;
     }
     .School-history{
         display: flex;
         flex-direction: column;
     }
     .school-history-p{
         width: 353px;
     }
     .heading{
         width: 353px;
     }
     .teacher-quotes{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom:20px ;
    }
    .teacher-quotes-1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       margin-bottom: 20px;
    }
    .teacher-quotes-2{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       margin-bottom: 20px;
       
   }
   .img{
    margin-right: 8px;
    width: 20%;
     height: 20%;

   }
   .teacher-p{
    width: 353px;
   }
   .first-hadinf-1{
       width: 353px;
       margin-bottom: 20px;
   }
   .first-hadinf-2{
       width: 353px;
   }

}
